# Auto detect text files and perform LF normalization
* text=auto
https://teams.microsoft.com/l/meetup-join/19%3ameeting_MzI2YTVhYTctMmVkMi00YmNhLWIwZGUtODA1MjI1YTM3ODU4%40thread.v2/0?context=%7b%22Tid%22%3a%2284c31ca0-ac3b-4eae-ad11-519d80233e6f%22%2c%22Oid%22%3a%22aca72118-10bf-4fcb-834f-d2971b1a57ab%22%7d
